* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  min-height: 100vh;
  padding: 7rem 10vw 0;

  > div > p:first-of-type {
    font-weight: 600;

    &::after {
      content: url("https://source.unsplash.com/featured/1536x240?javascript");
      display: block;
      width: 100%;
      object-fit: cover;
      max-height: 10rem;
      overflow: hidden;
    }
  }
}